body{
    font-family: sans-serif;
    color: white;
    
}


.back{
    margin-left: 400px;
    height: 730px;
    width: 500px;
    background: radial-gradient(circle,rgba(88, 59, 112, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(88, 56, 112, 1) 100%);
}


.back .arrow{
    margin-left: 20px;
    margin-top: 10px;
}


.content{
    height: 500px;
    border-radius: 20px;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    background: linear-gradient(211deg,rgba(255, 255, 255, 1) 0%, rgba(118, 53, 230, 1) 15%, rgba(0, 0, 0, 1) 36%, rgba(56, 56, 56, 1) 100%);
}


.heading{
    margin-top: 10px;
    margin-left: 10px;
}

.signup{
    background-color: black;
    border: 1px solid grey;
    border-radius: 4px;
    margin: 20px;
    padding: 10px;
}


.grey{
    color: grey;
}